.calc{
    width: 1200px;
    height: 1100px;
    max-width: 100%;
    margin: auto;
    margin-top: 124px;
    background-color: $white-2;
    padding: 20px 0;
    display: flex;

    @include respond-tab{
        flex-direction: column;
        height: auto;
    }
        
    @include respond-phone{
        margin-top: 75px;
    }


    &__head{
        width: 100%;
        position: fixed;
        height: 144px;
        background-color: $white-2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $sc-blue;
        z-index: 1;

        @include respond-tab{
            font-size: 20px;
        }
        
        @include respond-phone{
            font-size: 14px;
            height: 75px;
        }

    }


    &__box{
        background: $white-0;
        margin: 10px;
        padding: 10px;
        box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    &__header{
        margin: 4px 10px;
    }

    &__df{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__right{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-1200{
            width: 35%;
        }
        
        @include respond-tab{
            flex-direction: row;
            width: 98%;
            flex-wrap: wrap;
        }
    }

    &__left{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include respond-1200{
            width: 64%;
        }
        
        @include respond-tab{
            width: 98%;
        }
    }

    &__dr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        
        @include respond-phone{
            flex-wrap: wrap;
        }
        
        .help{
            width: 30%;
            display: flex;
            flex-direction: column;

            @include respond-1200{
                width: 38%;
            }

            @include respond-phone{
                width: 100%;
                flex-direction: row;
            }

            &__up{
                height: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;

                @include respond-phone{
                    width: 46%;
                    height: 95%;
                }

                &--head{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: $sc-blue;
                    color: $white-0;
                }
                &--body{
                    padding: 14px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }

            &__down{
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                cursor: pointer;

                @include respond-phone{
                    width: 46%;
                    height: 95%;
                }

                img{
                    transform: rotate(0deg);
                    transition: all 0.5s;
                    width: 66px;
                    height: 66px;
                }

                &:hover img{
                    transform: rotate(90deg);
                }
            }
        }

    }

    &__dra{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

        @include respond-1200{
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__drb{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 15px 20px;

        &.active{
            color: $sc-blue;
        }
    }

    &__calcs{
        height: 100%;
        display: flex;
        padding: 0;

        &--rows{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 26px 30px;

            @include respond-phone{
                width: 70%;
                padding: 20px 14px;
            }
        }

        &--row{
            display: flex;
            width: 100%;

            .rowname{
                background-color: $white-2;
                padding: 15px 10px;
                margin: 10px 5px;
                width: 100%;
            }

            .number{
                background-color: $white-2;
                padding: 15px 7px;
                margin: 10px 3px;
                width: 172px;
                text-align: center;
            }
        }

        &--load{
            width: 172px;
            background-color: $pr-blue;
            display: flex;
            flex-direction: column;

            .loadup{    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            .download{
                color: white;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 65px;
                background-color: $red;
            }
        }
    }

    &__bigimg{
        width: 360px;
        max-width: 100%;
        
        
        @include respond-phone{
            width: 100%;
        }

        img{
            width: 97%;
        }
    }

    &__param{
        height: 50%;
    }

    &__params{
        width: 60%;
        
        @include respond-phone{
            width: 97%;
        }

        &--radio{
            padding: 14px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .circle{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                &::after{
                    content: "";
                    width: 0;
                    height: 0;
                    transition: all 0.4s;
                    background-color: $black-0;
                    border-radius: 50%;
                    opacity: 0;
                }
            }
        }
        &--radio.active{
            .circle::after{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                opacity: 1;
            }
        }

        &--input{
            display: flex;
            width: 140px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            select, input{
                width: 100px;
                background-color: $white-2;
                border: none;
                height: 30px;
                outline: none;
                padding: 3px 10px;
            }

            .unit{
                width: 30px;
            }
        }
    }

    &__ras{
        height: 50%;
    }

    &__choose{
        
        @include respond-phone{
            width: 100%;
        }
        &--els{
            display: grid;
            width: 320px;
            height: 340px;
            overflow-y: auto;
            grid-template-columns: repeat(3, 1fr);
            max-width: 97%;
            
        
            @include respond-phone{
                width: 97%;
            }
            

            .el{
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                cursor: pointer;
                border: 1px solid transparent;

                &.active{
                    border: 1px solid $black-0;
                }
                &:hover{
                    border: 1px solid $black-0;
                }
            }
        }
    }

    &__type{
        width: 100%;
        max-width: 360px;

        @include respond-tab{
            max-width: 100%;
        }

        .type{
            display: flex;
            height: 220px;
            padding: 0;

            &__btn{
                width: 35px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $black-2;
            }

            .types{
                position: relative;
                width: calc(100%);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;


                &::-webkit-scrollbar{
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: $red;
                }
                
                &__el{
                    width: 48%;
                    margin: 2px;
                    height: 98%;
                    top: 0;
                    left: 0;
                    transition: all 0.4s;
                    padding: 10px;
                    font-size: 0.8rem;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-evenly;
                    text-align: center;
                    border: 1px solid transparent;
                    cursor: pointer;

                    &.active{
                        border: 1px solid $black-0;
                    }

                    &:hover{
                        border: 1px solid $black-0;
                    }
                }
            }
        }
    }
}
