.mainv{
    position: absolute;
    width: 500px;
    max-width: 95%;
    top: 25vh;
    min-height: 50vh;
    display: flex;
    left: 9vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    @include respond-tab{
        left: 5vw;
    }

    &__small{
        /* White-1 */
        color: #F1F1F1;
    }
    
    &__image {
        position: absolute;
        width: 800px;
        max-width: 60vw;
        bottom: 0;
        right: 0;
        min-width: 300px;
        display: flex;
        overflow: hidden;

        svg{
            width: 100%;
        }
    }
}


