.page_index_4 {
    font-family: $font_family_secondary;
    display: flex;
    flex-direction: column;
    height: 100%;

    .btn {
        padding-left: 25px;
        width: fit-content;

        .btn__img {
            margin-left: 20px;
        }
    }

    &-inside {
        flex: 1;

        &-grid {
            display: flex;
            height: 100%;
            &-form,

            &-contacts {
                flex: 1 0 0px;
                display: flex;
                height: 100%;
                align-items: center;
                padding: 50px 40px;
            }

            &-form {
                justify-content: flex-end;
                position: relative;
                @include respond-tab{
                    display: none;
                }
                
                @include respond-phone{
                    display: none;
                }
                &__inputs {

                    &-title {
                        text-align: center;
                        font-weight: bold;
                        font-size: 24px;
                        color: $white-1;
                    }

                    &_each {
                        margin-top: 15px;
                    }

                    input,
                    textarea {
                        font-family: $font_family_secondary;
                        width: 339px;
                        background: $white-1;
                        padding: 13px 20px;
                        font-size: 16px;
                        height: 55px;
                        text-align: center;
                    }

                    input::placeholder,
                    textarea::placeholder {
                        color: #8b8b8b;
                    }
                }

                &__inputs.document_page {
                    input {
                        text-align: left;
                    }

                    textarea {
                        height: 125px;
                        text-align: left;
                        resize: none;
                    }
                }
            }

            &-contacts {
                position: relative;
                justify-content: flex-start;
                color: $white-1;
                font-weight: bold;
                text-transform: capitalize;
                @include respond-tab{
                    justify-content: center;
                    align-items: center;
                }
                @include respond-phone{
                    justify-content: center;
                    align-items: center;
                }
                &__title {
                    font-size: 24px;
                    line-height: 29px;
                    @include respond-tab{
                        font-size: 22px;
                    }
                    @include respond-phone{
                        font-size: 20px;
                    }
                }

                &__items {
                    margin-top: 40px;
                    display: flex;
                    align-items: center;

                    &-img {
                        margin-right: 38px;
                        @include respond-phone{
                            margin-right: 30px;
                        }
                        img {
                            width: 40px;
                            @include respond-phone{
                                width: 22px;
                            }
                        }
                    }

                    &-text {
                        font-size: 24px;
                        line-height: 29px;
                        text-align: center;
                        font-weight: 500;
                        @include respond-phone{
                            font-size: 16px;
                        }
                    }
                }

                &__doc{
                    display: flex;
                    align-items: center;
                    
                    &-title{
                        font-weight: 600;
                        font-size: 25px;
                        margin-left: 25px;
                        @include respond-phone{
                            font-size: 20px;
                        }
                    }

                    img{
                        width: 80%;
                        @include respond-phone{
                            width: 50px;
                        }
                    }
                }

                &__list{
                    display: flex;
                    justify-content: space-between;
                    
                    ul{
                        margin-top: 30px;
                        margin-left: 22px;
                        
                        li{
                            margin-bottom: 25px;
                            font-size: 25px;
                            @include respond-phone{
                                font-size: 16px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
