.mainv{
    position: absolute;
    width: 500px;
    top: 25vh;
    min-height: 50vh;
    display: flex;
    left: 9vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    &__big{
    }

    &__small{
        /* White-1 */
        color: #F1F1F1;
    }
}