.page_index_2 {
    font-family: $font_family_secondary;
    display: flex;
    height: 100%;
    &-grid {
        flex: 1 1 0px;
        display: flex;
        color: $white-0;
        img.rotate_corner_img{
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 240px;
            animation: rotating 6s linear infinite;
        }
        &_left,
        &_right {
            display: flex;
            align-items: center;
            position: relative;
        }
        &_left {
            margin: 0 auto;
            max-width: 350px;
            justify-content: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 51px;
            text-transform: uppercase;
            position: relative;
            z-index: 2;
            div {
                position: relative;
                line-height: 42px;
                z-index: 2;
                div:first-child{
                    font-size: 80px;
                    line-height: 98px;
                    color: $pr-blue;
                    text-shadow: $text-shadow;
                    
                    position: absolute;
                    top: -47px;
                    left: -70%;
                    z-index: 1;
                }
            }
        }
        &_right {
            flex-direction: column;
            font-size: 24px;
            font-weight: 700;
            justify-content: center;
            align-items: flex-start;
            &-items{
                display: flex;
                margin-top: 30px;
                align-items: center;
                &_img{
                    margin-right: 30px;
                }
                .btn{
                    width: 100%;
                    padding-left: 30px;
                    .btn__img{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

@keyframes rotating {
    from {

      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@include respond-1200{
    
}
@include respond-tab{
    
}
@include respond-phone{
    
    .page_index_2-grid{
        
        flex: auto;
        img.rotate_corner_img{
            bottom: -60px;
            left: -60px;
            max-width: 199px;
        }
        &_left{
            display: none; 
        }
        &_right-items{
            margin-top: 25px;
            width: 100%;
            .btn{
                width: auto;
                margin:  0 auto;
                height: 42px;
            }
            .btn::before{
                width: 100%;
            }
            .btn__text{
                font-size: 9px;
            }
            &_img{
                margin-right: 25px;
                margin-left: 17px;
                img{
                    width: 36px;
                }
            }
            .title-s{
                font-size: 14px;
                font-weight: 900;
            }
           
        }
    }
}