body, html {
  margin: 0;
  padding: 0;
  font-size: inherit;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: mont;
}

@font-face {
  font-family: 'mont';
  src: url("/font/mont.ttf") format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: block;
}

section.block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #272E5B;
}

section.block.active {
  top: 0;
}

section.block.up {
  top: -100vh;
}

section.block.down {
  top: 100vh;
}

section.block--white {
  background-color: white;
}

.logo {
  width: 160px;
  position: fixed;
  top: 50px;
  left: 100px;
  z-index: 3;
}

.menu {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 64px;
  height: 64px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  cursor: pointer;
}

.menu.black {
  color: black;
}

.menu.black .menu__ins--line {
  background-color: black;
}

.menu.black .menu__hid--line {
  background-color: black;
}

.menu.black .menu__hid.active .menu__hid--line {
  background-color: white;
}

.menu__ins {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu__ins--word {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: -100%;
  position: absolute;
  top: 0px;
}

.menu__ins--word2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: -100%;
  position: absolute;
  top: 100%;
}

.menu__ins.text .menu__ins--word {
  left: 0;
}

.menu__ins.text .menu__ins--word2 {
  left: 0;
}

.menu__ins.text .menu__ins--line {
  left: 100%;
}

.menu__ins.active .menu__ins--word {
  top: -100%;
}

.menu__ins.active .menu__ins--word2 {
  top: 0;
  color: white;
}

.menu__ins.active .menu__ins--line {
  top: -100%;
  background-color: white;
}

.menu__ins.active .menu__ins--x1 {
  top: 19px;
  background-color: white;
}

.menu__ins.active .menu__ins--x2 {
  top: 19px;
  background-color: white;
}

.menu__ins--line {
  width: 36px;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__ins--up {
  top: 21px;
  left: 14px;
}

.menu__ins--mid {
  top: 31px;
  left: 14px;
}

.menu__ins--down {
  top: 41px;
  left: 14px;
}

.menu__ins--x1 {
  top: 19px;
  left: 18px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 100%;
}

.menu__ins--x2 {
  left: 9px;
  top: 19px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 100%;
}

.menu__hid {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu__hid--line {
  background-color: white;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__hid--up {
  width: 64px;
  height: 1px;
  top: 0px;
  left: 32px;
}

.menu__hid--down {
  height: 1px;
  width: 64px;
  bottom: 0px;
  right: 32px;
}

.menu__hid--right {
  height: 64px;
  width: 1px;
  bottom: 32px;
  right: 0;
}

.menu__hid--left {
  height: 64px;
  width: 1px;
  top: 32px;
  left: 0px;
}

.menu__hid:hover .menu__hid--up {
  left: 0;
}

.menu__hid:hover .menu__hid--down {
  right: 0;
}

.menu__hid:hover .menu__hid--right {
  bottom: 64px;
}

.menu__hid:hover .menu__hid--left {
  top: 64px;
}

.mlist {
  position: fixed;
  width: 600px;
  height: 100vh;
  top: 0;
  right: -600px;
  background-color: #ED1C24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.mlist.active {
  right: 0;
}

.mlist__big {
  width: 100%;
  height: calc(100vh - 280px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  font-size: 36px;
  line-height: 43px;
  margin-top: 10px;
  font-weight: 900;
}

.mlist__big--el {
  padding-bottom: 1px;
  margin-bottom: 29px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mlist__big--el:hover {
  border-bottom: 1px solid white;
}

.mlist__small {
  font-size: 24px;
  line-height: 30px;
  padding: 40px;
  height: 280px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainv {
  position: absolute;
  width: 500px;
  top: 25vh;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 9vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.mainv__big {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.mainv__small {
  font-size: 25px;
  line-height: 30px;
  /* White-1 */
  color: #F1F1F1;
}

.btn {
  width: 200px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.btn__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F1F1F1;
}

.btn__img {
  width: 20px;
}

.btn__img img {
  width: 20px;
}

.btn::before {
  content: "";
  width: 30%;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100%;
  position: absolute;
  background-color: #ED1C24;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}

.secv {
  position: absolute;
  top: 20vh;
  height: 60vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.secv__big {
  font-size: 36px;
  line-height: 44px;
  margin-left: 21vw;
}

.secv__jsl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.secv__smsl {
  position: relative;
  overflow: auto;
  width: calc(100vw - 25vw);
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 21vw;
}

.secv__smsl:hover::-webkit-scrollbar {
  height: 12px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.secv__smsl::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}

.secv__smsl::-webkit-scrollbar-thumb {
  background-color: #ED1C24;
}

.secv__smsl--el {
  width: 200px;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  margin: 25px 50px;
}

.secv__smsl--el img {
  width: 200px;
  height: 271px;
  -o-object-fit: cover;
     object-fit: cover;
}

.secv__smsl--desc {
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.page_index_2 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.page_index_2-grid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.page_index_2-grid img.rotate_corner_img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 240px;
  -webkit-animation: rotating 6s linear infinite;
          animation: rotating 6s linear infinite;
}

.page_index_2-grid_left, .page_index_2-grid_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page_index_2-grid_left {
  margin: 0 auto;
  max-width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.page_index_2-grid_left div {
  position: relative;
  line-height: 42px;
  z-index: 2;
}

.page_index_2-grid_left div div:first-child {
  font-size: 80px;
  line-height: 98px;
  color: #272E5B;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -47px;
  left: -70%;
  z-index: 1;
}

.page_index_2-grid_right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page_index_2-grid_right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_2-grid_right-items_img {
  margin-right: 30px;
}

.page_index_2-grid_right-items .btn {
  width: 100%;
  padding-left: 30px;
}

.page_index_2-grid_right-items .btn .btn__img {
  margin-left: 20px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.page_index_4 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.page_index_4 .btn {
  padding-left: 25px;
}

.page_index_4 .btn .btn__img {
  margin-left: 20px;
}

.page_index_4-inside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page_index_4-inside-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.page_index_4-inside-grid-form, .page_index_4-inside-grid-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 40px auto 40px;
}

.page_index_4-inside-grid-form {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.page_index_4-inside-grid-form__inputs-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #F1F1F1;
}

.page_index_4-inside-grid-form__inputs_each {
  margin-top: 15px;
}

.page_index_4-inside-grid-form__inputs input,
.page_index_4-inside-grid-form__inputs textarea {
  width: 339px;
  background: #F1F1F1;
  padding: 13px 20px;
  font-size: 16px;
  height: 55px;
  text-align: center;
}

.page_index_4-inside-grid-form__inputs input::-webkit-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea::-webkit-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input:-ms-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea:-ms-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input::-ms-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea::-ms-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input::placeholder,
.page_index_4-inside-grid-form__inputs textarea::placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs.document_page input {
  text-align: left;
}

.page_index_4-inside-grid-form__inputs.document_page textarea {
  height: 125px;
  text-align: left;
  resize: none;
}

.page_index_4-inside-grid-contacts {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #F1F1F1;
  font-weight: bold;
  text-transform: capitalize;
}

.page_index_4-inside-grid-contacts__title {
  font-size: 24px;
  line-height: 29px;
}

.page_index_4-inside-grid-contacts__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_4-inside-grid-contacts__items-img {
  margin-right: 38px;
}

.page_index_4-inside-grid-contacts__items-img img {
  width: 40px;
}

.page_index_4-inside-grid-contacts__items-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 500;
}

.page_index_4-inside-grid-contacts__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_4-inside-grid-contacts__doc-title {
  font-weight: 600;
  font-size: 25px;
  margin-left: 25px;
}

.page_index_4-inside-grid-contacts__doc img {
  width: 80%;
}

.page_index_4-inside-grid-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_index_4-inside-grid-contacts__list ul {
  margin-top: 30px;
  margin-left: 22px;
}

.page_index_4-inside-grid-contacts__list ul li {
  margin-bottom: 25px;
  font-size: 25px;
}

.add_contact_text {
  max-width: 480px;
  margin: 0 0 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #F1F1F1;
}

.add_contact_text-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
  line-height: 24px;
}

.add_contact_text-p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  line-height: 19px;
}

.add_contact_text-p:last-child {
  margin-top: 0;
}

.bg_text img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.page_footer {
  color: #F1F1F1;
  height: 75px;
  border-top: 0.5px solid #F1F1F1;
  width: 100%;
}

.page_footer__items {
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_footer__items-lang__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_footer__items-lang__choose img:first-child {
  margin-right: 10px;
}

.page_footer__items-lang__choose img:last-child {
  margin-left: 15px;
}

.page_footer__items-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_footer__items-socials a {
  margin-right: 10px;
}

.page_footer__items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */