body, html {
  margin: 0;
  padding: 0;
  font-size: inherit;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: mont;
  position: relative;
}

@font-face {
  font-family: 'mont';
  src: url("/font/mont.ttf") format("truetype");
}

@font-face {
  font-family: 'geo';
  src: url("/font/geo.ttf") format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: block;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}

h2 {
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.title {
  font-style: normal;
}

.title-l {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
}

.title-m {
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
}

.title-s {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}

.text-m {
  font-family: geo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

section.block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #272E5B;
}

section.block.active {
  top: 0;
}

section.block.up {
  top: -100vh;
}

section.block.down {
  top: 100vh;
}

section.block--white {
  background-color: white;
}

.logo {
  position: fixed;
  top: 50px;
  left: 100px;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .logo {
    top: 55px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    left: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .logo img {
    width: 160px;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 130px;
  }
}

.menu {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 64px;
  height: 64px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu {
    right: 50px;
  }
}

.menu.black {
  color: black;
}

.menu.black .menu__ins--line {
  background-color: black;
}

.menu.black .menu__hid--line {
  background-color: black;
}

.menu.black .menu__hid.active .menu__hid--line {
  background-color: white;
}

.menu__ins {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu__ins--word {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: -100%;
  position: absolute;
  top: 0px;
}

.menu__ins--word2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: -100%;
  position: absolute;
  top: 100%;
}

.menu__ins.text .menu__ins--word {
  left: 0;
}

.menu__ins.text .menu__ins--word2 {
  left: 0;
}

.menu__ins.text .menu__ins--line {
  left: 100%;
}

.menu__ins.active .menu__ins--word {
  top: -100%;
}

.menu__ins.active .menu__ins--word2 {
  top: 0;
  color: white;
}

.menu__ins.active .menu__ins--line {
  top: -100%;
  background-color: white;
}

.menu__ins.active .menu__ins--x1 {
  top: 19px;
  background-color: white;
}

.menu__ins.active .menu__ins--x2 {
  top: 19px;
  background-color: white;
}

.menu__ins--line {
  width: 36px;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__ins--up {
  top: 21px;
  left: 14px;
}

.menu__ins--mid {
  top: 31px;
  left: 14px;
}

.menu__ins--down {
  top: 41px;
  left: 14px;
}

.menu__ins--x1 {
  top: 19px;
  left: 18px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 100%;
}

.menu__ins--x2 {
  left: 9px;
  top: 19px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 100%;
}

.menu__hid {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu__hid--line {
  background-color: white;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__hid--up {
  width: 64px;
  height: 1px;
  top: 0px;
  left: 32px;
}

.menu__hid--down {
  height: 1px;
  width: 64px;
  bottom: 0px;
  right: 32px;
}

.menu__hid--right {
  height: 64px;
  width: 1px;
  bottom: 32px;
  right: 0;
}

.menu__hid--left {
  height: 64px;
  width: 1px;
  top: 32px;
  left: 0px;
}

.menu__hid:hover .menu__hid--up {
  left: 0;
}

.menu__hid:hover .menu__hid--down {
  right: 0;
}

.menu__hid:hover .menu__hid--right {
  bottom: 64px;
}

.menu__hid:hover .menu__hid--left {
  top: 64px;
}

.mlist {
  position: fixed;
  width: 600px;
  height: 100vh;
  top: 0;
  right: -600px;
  background-color: #ED1C24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: white;
}

.mlist.active {
  right: 0;
}

.mlist__big {
  width: 100%;
  height: calc(100vh - 280px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  font-size: 36px;
  line-height: 43px;
  margin-top: 10px;
  font-weight: 900;
}

.mlist__big--el {
  padding-bottom: 1px;
  margin-bottom: 29px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mlist__big--el:hover {
  border-bottom: 1px solid white;
}

.mlist__small {
  font-size: 24px;
  line-height: 30px;
  padding: 40px;
  height: 280px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainv {
  position: absolute;
  width: 500px;
  top: 25vh;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 9vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.mainv__small {
  /* White-1 */
  color: #F1F1F1;
}

.secv {
  position: absolute;
  top: 20vh;
  height: 60vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.secv__big {
  margin-left: 21vw;
}

.secv__jsl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.secv__smsl {
  position: relative;
  overflow: auto;
  width: calc(100vw - 21vw);
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 21vw;
}

.secv__smsl:hover::-webkit-scrollbar {
  height: 12px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.secv__smsl::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}

.secv__smsl::-webkit-scrollbar-thumb {
  background-color: #ED1C24;
}

.secv__smsl--el {
  width: 200px;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  margin: 25px 50px;
}

.secv__smsl--el img {
  width: 200px;
  height: 271px;
  -o-object-fit: cover;
     object-fit: cover;
}

.secv__smsl--desc {
  color: black;
}

.page_index_2 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.page_index_2-grid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.page_index_2-grid img.rotate_corner_img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 240px;
  -webkit-animation: rotating 6s linear infinite;
          animation: rotating 6s linear infinite;
}

.page_index_2-grid_left, .page_index_2-grid_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page_index_2-grid_left {
  margin: 0 auto;
  max-width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.page_index_2-grid_left div {
  position: relative;
  line-height: 42px;
  z-index: 2;
}

.page_index_2-grid_left div div:first-child {
  font-size: 80px;
  line-height: 98px;
  color: #272E5B;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -47px;
  left: -70%;
  z-index: 1;
}

.page_index_2-grid_right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page_index_2-grid_right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_2-grid_right-items_img {
  margin-right: 30px;
}

.page_index_2-grid_right-items .btn {
  width: 100%;
  padding-left: 30px;
}

.page_index_2-grid_right-items .btn .btn__img {
  margin-left: 20px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .page_index_2-grid {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .page_index_2-grid img.rotate_corner_img {
    bottom: -60px;
    left: -60px;
    max-width: 199px;
  }
  .page_index_2-grid_left {
    display: none;
  }
  .page_index_2-grid_right-items {
    margin-top: 25px;
    width: 100%;
  }
  .page_index_2-grid_right-items .btn {
    width: auto;
    margin: 0 auto;
    height: 42px;
  }
  .page_index_2-grid_right-items .btn::before {
    width: 100%;
  }
  .page_index_2-grid_right-items .btn__text {
    font-size: 9px;
  }
  .page_index_2-grid_right-items_img {
    margin-right: 25px;
    margin-left: 17px;
  }
  .page_index_2-grid_right-items_img img {
    width: 36px;
  }
  .page_index_2-grid_right-items .title-s {
    font-size: 14px;
    font-weight: 900;
  }
}

.page_index_4 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.page_index_4 .btn {
  padding-left: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page_index_4 .btn .btn__img {
  margin-left: 20px;
}

.page_index_4-inside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page_index_4-inside-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.page_index_4-inside-grid-form, .page_index_4-inside-grid-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
}

.page_index_4-inside-grid-form {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.page_index_4-inside-grid-form__inputs-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #F1F1F1;
}

.page_index_4-inside-grid-form__inputs_each {
  margin-top: 15px;
}

.page_index_4-inside-grid-form__inputs input,
.page_index_4-inside-grid-form__inputs textarea {
  width: 339px;
  background: #F1F1F1;
  padding: 13px 20px;
  font-size: 16px;
  height: 55px;
  text-align: center;
}

.page_index_4-inside-grid-form__inputs input::-webkit-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea::-webkit-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input:-ms-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea:-ms-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input::-ms-input-placeholder,
.page_index_4-inside-grid-form__inputs textarea::-ms-input-placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs input::placeholder,
.page_index_4-inside-grid-form__inputs textarea::placeholder {
  color: #8b8b8b;
}

.page_index_4-inside-grid-form__inputs.document_page input {
  text-align: left;
}

.page_index_4-inside-grid-form__inputs.document_page textarea {
  height: 125px;
  text-align: left;
  resize: none;
}

.page_index_4-inside-grid-contacts {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #F1F1F1;
  font-weight: bold;
  text-transform: capitalize;
}

.page_index_4-inside-grid-contacts__title {
  font-size: 24px;
  line-height: 29px;
}

.page_index_4-inside-grid-contacts__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_4-inside-grid-contacts__items-img {
  margin-right: 38px;
}

.page_index_4-inside-grid-contacts__items-img img {
  width: 40px;
}

.page_index_4-inside-grid-contacts__items-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 500;
}

.page_index_4-inside-grid-contacts__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_index_4-inside-grid-contacts__doc-title {
  font-weight: 600;
  font-size: 25px;
  margin-left: 25px;
}

.page_index_4-inside-grid-contacts__doc img {
  width: 80%;
}

.page_index_4-inside-grid-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_index_4-inside-grid-contacts__list ul {
  margin-top: 30px;
  margin-left: 22px;
}

.page_index_4-inside-grid-contacts__list ul li {
  margin-bottom: 25px;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .page_index_4-inside-grid-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page_index_4-inside-grid-form {
    display: none;
  }
  .page_index_4-inside-grid-contacts__doc-title {
    font-size: 20px;
  }
  .page_index_4-inside-grid-contacts__doc img {
    width: 50px;
  }
  .page_index_4-inside-grid-contacts__items-img {
    margin-right: 30px;
  }
  .page_index_4-inside-grid-contacts__items-img img {
    width: 22px;
  }
  .page_index_4-inside-grid-contacts__items-text {
    font-size: 16px;
  }
  .page_index_4-inside-grid-contacts__title {
    font-size: 20px;
  }
  .page_index_4-inside-grid-contacts__list ul li {
    font-size: 16px;
  }
}

.add_contact_text {
  max-width: 480px;
  margin: 0 0 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #F1F1F1;
}

.add_contact_text-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
  line-height: 24px;
}

.add_contact_text-p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  line-height: 19px;
}

.add_contact_text-p:last-child {
  margin-top: 0;
}

.bg_text img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.products__filters {
  background-color: #272E5B;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #F1F1F1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.products__filters-items {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-variant: small-caps;
}

.products__filters-items.active, .products__filters-items:hover {
  border-bottom: 2px solid #FFFFFF;
}

.products__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.products__all-items {
  position: relative;
  height: 355px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
  cursor: pointer;
}

.products__all-items--img, .products__all-items--title {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  max-width: 200px;
  max-height: 271px;
  overflow: hidden;
  margin: 0 auto;
}

.products__all-items--img img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
}

.products__all-items--title h2 {
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.products__all-items--btn {
  display: none;
  position: absolute;
  bottom: -52px;
  width: 100%;
}

.products__all-items--btn a {
  border: 3px solid #F1F1F1;
  padding: 12px 16px;
  color: #3A3A3C;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.products__all-items--btn a img {
  margin-left: 16px;
}

.products__all-items--btn a:hover {
  background-color: #F1F1F1;
}

.products__all-items_up, .products__all-items_right, .products__all-items_bottom, .products__all-items_left {
  position: absolute;
  display: block;
  background-color: #ED1C24;
}

.products__all-items_up, .products__all-items_right {
  top: 0;
  right: 0;
}

.products__all-items_bottom, .products__all-items_left {
  bottom: 0;
  left: 0;
}

.products__all-items_up {
  height: 4px;
  width: 0%;
}

.products__all-items_right {
  height: 0%;
  width: 4px;
}

.products__all-items_bottom {
  height: 4px;
  width: 0%;
}

.products__all-items_left {
  height: 0%;
  width: 4px;
}

.products__all-items:hover .products__all-items--btn {
  display: block;
  -webkit-animation-name: animate_btn;
          animation-name: animate_btn;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: -52px;
}

.products__all-items:hover .products__all-items--img img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.products__all-items:hover .products__all-items--img {
  max-height: 219px;
}

.contacts_text p {
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin: 50px 0;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3A3A3C;
}

.contacts_text p:hover {
  color: #818285;
}

@-webkit-keyframes animate_btn {
  from {
    bottom: -52px;
  }
  to {
    bottom: 15px;
  }
}

@keyframes animate_btn {
  from {
    bottom: -52px;
  }
  to {
    bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .products__filters {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: scroll;
    padding-left: 20px;
  }
  .products__filters-items {
    margin-bottom: 18px;
    margin-right: 19px;
    font-size: 14px;
  }
  .products__all-items {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .products__all-items--btn a {
    font-size: 9px;
    padding: 7px 13px;
  }
  .products__all-items--title h2 {
    font-size: 12px;
  }
  .contacts_text p {
    font-size: 20px;
  }
}

.product {
  font-family: "Montserrat", sans-serif;
}

.product__header {
  width: 100%;
  min-height: 160px;
  background-color: #272E5B;
}

.product__title {
  padding-top: 20px;
}

.product__title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: black;
  text-transform: initial;
}

.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.product__img__gal, .product__img__rel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.product__img__gal {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img__gal--main {
  margin: 0 auto;
  text-align: center;
  width: 460px;
  height: 460px;
  border: 1px solid #818285;
  margin-right: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__img__gal--main img {
  width: 100%;
  height: auto;
}

.product__img__gal--other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__img__gal--other img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #818285;
}

.product__img__rel {
  padding-left: 60px;
}

.product__img__rel--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__img__rel--items img {
  width: 200px;
  height: 200px;
  border: 1px solid #818285;
}

.product__img__rel--items a.pruduct__btn-next,
.product__img__rel--items a.pruduct__btn-prev {
  padding: 12px 24px;
  background-color: #0072BC;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.product__img__rel--items a.pruduct__btn-next {
  background-color: #0072BC;
}

.product__img__rel--items a.pruduct__btn-next:hover,
.product__img__rel--items a.pruduct__btn-prev:hover {
  -webkit-filter: saturate(0.5);
          filter: saturate(0.5);
}

.product__img__rel--items a.pruduct__btn-prev {
  background-color: #ED1C24;
}

.product__img__rel--items:last-child {
  margin-bottom: 0px;
}

.product__body {
  padding-top: 50px;
  padding-bottom: 80px;
}

.product__body__info {
  position: relative;
  color: #0072BC;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  display: inline-block;
  margin-bottom: 42px;
}

.product__body__info div::after,
.product__body__info div::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product__body__info div {
  padding: 10px 44px;
}

.product__body__info div::after {
  right: 0;
  top: 0;
  border-right: 1px solid #0072BC;
  border-top: 1px solid #0072BC;
}

.product__body__info div::before {
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #0072BC;
  border-left: 1px solid #0072BC;
}

.product__body:hover .product__body__info div::after, .product__body:hover .product__body__info div::before {
  width: 100px;
  height: 40px;
}

.plr-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.product img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .plr-100 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .product__title h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .product__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img__rel {
    padding-left: initial;
  }
  .product__img__rel--items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img__rel--items a.pruduct__btn-next, .product__img__rel--items a.pruduct__btn-prev {
    margin-top: 16px;
  }
  .product__img__rel--items:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product__img__gal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img__gal--main {
    width: 100%;
    height: 300px;
  }
  .product__img__gal--other {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    margin-top: 17px;
  }
  .product__img__gal--other img {
    margin-right: 10px;
  }
  .product__body__info {
    font-size: 16px;
  }
  .product__body__info div {
    padding: 5px 26px;
  }
}

.page_footer {
  color: #F1F1F1;
  height: 75px;
  border-top: 0.5px solid #F1F1F1;
  background-color: #272E5B;
  width: 100%;
}

.page_footer__items {
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_footer__items-lang__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_footer__items-lang__choose img:first-child {
  margin-right: 10px;
}

.page_footer__items-lang__choose img:last-child {
  margin-left: 15px;
}

.page_footer__items-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_footer__items-socials a {
  margin-right: 10px;
}

.page_footer__items-socials img {
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.page_footer__items-socials img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.page_footer__items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .page_footer {
    height: 59px;
  }
  .page_footer__items {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page_footer__items-lang {
    display: none;
  }
  .page_footer__items div:first-child {
    display: none;
  }
  .page_footer__items-privacy span {
    display: none;
  }
  .page_footer__items-socials a img {
    width: 19px;
  }
}

.btn {
  min-width: 200px;
  padding: 0 30px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.btn__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F1F1F1;
}

.btn__img {
  width: 20px;
}

.btn__img img {
  width: 20px;
}

.btn::before {
  content: "";
  width: 30%;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100%;
  position: absolute;
  background-color: #ED1C24;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}

.proj {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.proj__head {
  position: absolute;
  top: 10vh;
  text-align: center;
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1px #F1F1F1;
}

.proj__redline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vh;
  height: 10px;
}

.proj__redline--line {
  height: 10px;
  width: 0%;
  background-color: #ED1C24;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.proj__redline--line.active {
  -webkit-transition: width 3.8s;
  transition: width 3.8s;
  width: 100%;
}

.proj__name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 1;
}

.proj__name h1 {
  max-width: 50vw;
  position: absolute;
  width: 800px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.proj__name h1.back {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.proj__name h1.next {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.proj__name h1.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.proj__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

.proj__img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #494949 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.proj__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.proj__img img.back {
  -webkit-transform: translateX(-100vh);
          transform: translateX(-100vh);
}

.proj__img img.next {
  -webkit-transform: translateX(100vh);
          transform: translateX(100vh);
}

.proj__img img.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.proj__arrows {
  position: absolute;
  bottom: 17vh;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 17vw;
  z-index: 1;
  cursor: pointer;
}

.proj__arrows img {
  width: 70px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.proj__arrows img:hover {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
/*# sourceMappingURL=main.css.map */